.contenedor-cards{
    display: flex;
    justify-content: center;
}
.texto-card{
    display: flex;
    align-items: center;
    font-size: x-large;
    font-family: $fuente-general;
    color: $color-dark;
}
.card-title{
    color: $color-dark;
}