.card{
    transition-duration: 500ms;
    transition-property: scale box-shadow;
}
.card:hover {
    scale: 1.01;
    box-shadow: 0 0 20px 0px $color-orange;
}

.contenedor-cards {
    display: flex;
    justify-content: center;
}

.texto-card {
    display: flex;
    align-items: center;
    font-size: x-large;
    font-family: $fuente-general;
    color: $color-dark;
}

.card-title {
    color: $color-dark;
}
