.footer-link {
    background-color: lightgreen;

    ul {
        list-style: none;
        margin: 15px;
        padding: 5px;

        a {
            text-decoration: none;
            color: rgb(78, 75, 75);
        }
    }
}