.footer-link {
    background-color: $color-orange;

    ul {
        list-style: none;
        margin: 15px;
        padding: 5px;

        a {
            text-decoration: none;
            color: $color-dark;
        }
    }
}