.titulo{
    display: flex;
    padding-top: 15%;
    height: 93vh;
    width: 100vw;
    justify-content: center;
    background-image: url(../assets/img/banner.jpg);
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    font-family: "Poppin", sans-serif;
}
.subtitulos{
    display: flex;
}