.landing{
    min-height:100vh;
    width: 100%;
    background-image: url(../assets/img/banner.webp);
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;
    h1{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        top: 20%;
        font-family: $fuente-titulo;
        color: $color-blue;
        font-weight: bold;
        font-size: 60px;
    }
    a{
        position: absolute;
        padding: 5px;
        left: 50%;
        transform: translate(-50%, 0);
        top: 90%;
        text-decoration: none;
        font-family: $fuente-general;
        font-weight: bold;
        font-size: 20px;
        border: 1px solid $color-dark;
        background-color: $color-withe;
        color: $color-dark;
        opacity: 75%;
        transition:ease-in-out;
        transition-duration: 500ms;
    }
    a:hover{
        opacity: 100%;
        background-color: $color-green;
    }
}

.main section:nth-child(n+2){
    padding: 65px 20px;
    margin-top: 20px;
    h3{
        font-family: $fuente-titulo;
        text-transform: uppercase;
    }
}

.subtitulo{
    display: flex;
    color: $color-withe;
    font-family: $fuente-titulo;
    text-transform: uppercase;
}

.card-group{
    display: flex;
    justify-content: center;
}
.texto-card{
    display: flex;
    align-items: center;
    font-size: x-large;
    font-family: $fuente-general;
}
.card-group .card{
    margin: 1rem;
}

.NotiActuales{
    display: flex;
}