.titulo{
    display: flex;
    height: 93vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: $color-green;
    font-family: $fuente-general;
    font-weight: bold;
}
.subtitulos{
    display: flex;
    font-family: $fuente-titulo;
}

.card-group{
    display: flex;
    justify-content: center;
}

.card-group .card{
    margin: 1rem;
}

.NotiActuales{
    display: flex;
}