
.navbar-nav {
    padding: .25rem .25rem;

    .nav-item {
        border: 1px solid black;
        margin-left: 4px;

        .nav-link:not(.active) {

            background-color: $color-withe;
            color: black;
            opacity: 75%;

        }

        .nav-link {
            background-color: $color-green;
            color: white;
        }

    }

    .nav-item:hover {
        opacity: 100%;
        background-color: $color-green;
    }
}