@media (max-width: 321px) {
    .landing h1{
        font-size: 30px;
    }
    .form {
        width: 280px;

        label {
            width: 90px;
        }

        input[type="text"],
        input[type="email"], 
        input[type="tel"] {
            width: 240px;}
    }

    .map-hidden{
        display: none;
    }
}

@media (min-width: 321px) and (max-width: 768px) {
    .landing h1{
        font-size: 40px;
    }

    .form {
        width: 400px;

        label {
            width: 90px;
        }

        input[type="text"],
        input[type="email"], 
        input[type="tel"] {
            width: 240px;}
    }

    .map-hidden{
        display: none;
    }
}